eclipse-sumo==1.27.0
tqdm==4.59.0
gym
setproctitle
absl-py
tensorboardX
wandb
imageio
numpy
torch
torchvision
pandas
scikit-learn
scipy
matplotlib
seaborn
plotly
ipykernel
ipywidgets
nbclient>=0.10.0
nbformat>=4.2.0